<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDD7dSQ_z8tcPNDEdce8GLPyV5aEgKqoa0</string>
	<key>GCM_SENDER_ID</key>
	<string>562565322115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>fluttera3-6dc4a</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttera3-6dc4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562565322115:ios:8a95ac8b7ac7bfc86a92b6</string>
	<key>DATABASE_URL</key>
	<string>https://fluttera3-6dc4a-default-rtdb.firebaseio.com</string>
</dict>
</plist>